{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<h2>Welcome to the home of Local 706!</h2>
<p>
    WELCOME TO MAKE-UP ARTISTS AND HAIR STYLISTS GUILD, I.A.T.S.E. LOCAL 706 </p>

In 1937 an extremely creative, talented group of film make-up artists and hair stylist chartered Local 706 of the International Alliance of the Theatrical Stage Employees, the union that represents the crafts people in the entertainment industry and provides guaranteed basic wages, working conditions, healthcare and pension benefits. Our history is rich and our membership reflects a huge diversity of make-up artists and hair stylists from every continent. We are a unique guild in the entertainment industry as we proudly represent artists in feature films and television, commercials, “live” network television, all types of theatrical productions, and Disneyland theme parks. Our members create memorable characters and win Academy Awards, Primetime and Daytime Emmys, Saturns, BAFTAs and every other award for make-up and hair styling artistry. Several of our members even have their own star on the Hollywood Walk of Fame. </p>

Our website is divided into two sections, one for the public, and one "for members only" that is password protected. Non-members may enjoy looking at current and past issues of our magazine The Artisan, read the history of the IATSE and celebrate with us as we congratulate our award nominees and winners.</p>

All of our different classifications have different entry requirements. Membership in the Make-up Artists and Hair Stylists Guild is attained through hard work, perseverance and passion. There are no shortcuts, and there are no apprenticeship programs. The competition is very stiff, but membership is a goal worth achieving. Make-up artists must have extensive knowledge and work experience in their craft, they must be able to do everything from runway beauty to bald caps, beards, basic prosthetics and character work. Hair stylists should have the practical work experience in both contemporary and period hair styling, basic barbering and wigs. If you are an experienced film, television or theatrical make-up artist or hair stylist desiring to be represented by our Guild, eligibility requirements for all classifications can be found here on the website under the tab “How to Join.” </p>

Respectfully, </p>

Susan Cabral-Ebert, </br>
President
</p>


{% endblocktrans %}
{% endblock %}
